@model AnVatCanTho.Models.SnackBar
<section class="mt-4" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://static2-images.vnncdn.net/files/publish/2022/12/8/meo-1-1416.jpg" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; hight: 150px">
                        <h5 class="my-3">@Model.DisplayName</h5>
                        <p class="text-muted mb-1">@Model.Description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tên</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.DisplayName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Số điện thoại</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Tel</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Ngày sinh</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Dob</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Địa chỉ</p>
                            </div>
                            <div class="col-sm-9">
                                @foreach(var address in Model.Addresses)
                                {
                                    <li class="text-muted mb-0">
                                        @address.NoAndStreet, @address.WardName, @address.DistrictName
                                    </li>
                                }                                                                                             
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>