@model IEnumerable<AnVatCanTho.Models.ProductImage>

@{
    ViewData["Title"] = "EditProductImages";
    Layout = "~/Areas/SnackBar/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h1>Chỉnh sửa hình ảnh sản phẩm</h1>

<p>
    <a href="@Url.Action("CreateProductImages","Products", new { id = ViewData["id"] })" class="btn btn-primary hover">
            <i class="fa-solid fa-plus">Thêm</i>
    </a>
</p>
    <table class="table mx-auto border table-striped">
    <thead>
        <tr>
            <th>
                Hỉnh ảnh
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SnackBarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content("~/images/Products/" + item.PathName)" width="45" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnackBarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                <a href="@Url.Action("DeleteProductImage","Products", new { id = item.PathName })" class="btn btn-danger hover">
                    <i class="fa-solid fa-trash">Xóa</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
     <a href="@Url.Action("EditProduct","Products", new { id = ViewData["id"] })" class="btn btn-danger hover">
            <i class="fa-solid fa-arrow-left">Trở về</i>
     </a>
</div>
</div>