@model IEnumerable<AnVatCanTho.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SnackBar/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Danh sách sản phẩm</h1>

        <p>
            <a asp-action="CreateProduct" class="btn btn-primary hover "><i class="fa-solid fa-plus">Thêm sản phẩm</i></a>
        </p>
        <table class="table mx-auto border table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductCategory.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td>
                            @(item.UnitPrice*1000)
                        </td>
                        <td>
                            <a href="@Url.Action("EditProduct","Products", new { id = item.Id })" class="btn btn-primary hover">
                                <i class="fa-solid fa-pen-to-square">Chỉnh sửa</i>
                            </a>
                            <a href="@Url.Action("Details","Products", new { id = item.Id })" class="btn btn-info hover">
                                <i class="fa-solid fa-circle-info">Chi tiết</i>
                            </a>
                            <a href="@Url.Action("Delete","Products", new { id = item.Id })" class="btn btn-danger hover">
                                <i class="fa-solid fa-trash">Xóa</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
