@using AnVatCanTho.Models
@using AnVatCanThoWeb.ViewModels

@model HomeVM

@{
    ViewData["Title"] = "Home Page";
    List<ProductVM> productVM = Model.topProducts;
    List<SnackBar> snackBars = Model.topSnackBars;
}


<div style="margin-top: -2px;" class="container-xxl bg-white p-0">
    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft font-roboto">Tận hưởng <br>Những món ăn ngon</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">
                            Không chỉ là đồ ăn, thức uống ngon những bữa ăn này còn là cơ hội để kết nối và thư giãn. Tiếng cười hòa lẫn với tiếng phố phường nhộn nhịp khi thưởng thức những món ngon.
                        </p>
                        <a asp-controller="Product" asp-action="Index" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft" style="color: #FFF;">Khám phá thêm</a>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="~/images/UserIndex/hero.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar & Hero End -->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-utensils text-primary mb-4" style="color: #FEA116;"></i>
                            <h5 class="font-roboto">Món ăn chất lượng</h5>
                            <p>Mỗi miếng ăn là một sự khám phá, kết cấu tương phản một cách tinh nghịch và hương vị tạo nên một sự thăng hoa thú vị.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-cart-plus text-primary mb-4" style="color: #FEA116;"></i>
                            <h5 class="font-roboto">Đặt món trực tuyến</h5>
                            <p>Cho dù đó là một cơn thèm ăn vào đêm khuya hay một chuyến hàng tạp hóa đã lên kế hoạch, việc đặt hàng trực tuyến giúp cuộc sống trở nên dễ dàng và ngon miệng hơn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-headset text-primary mb-4" style="color: #FEA116;"></i>
                            <h5 class="font-roboto">Dịch vụ 24/7</h5>
                            <p>Mang đến sự tiện lợi tối đa, đảm bảo hỗ trợ bất cứ khi nào bạn cần, bất kể giờ giấc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Service End -->
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <img style="margin-top: 0;" class="img-fluid rounded wow zoomIn" data-wow-delay="0.3s" src="~/images/UserIndex/about-us.jpg" style="margin-top: 25%;">
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">Về chúng tôi</h5>
                    <h1 class="mb-4 font-roboto">Chào mừng đến với <br /> <i class="fa fa-utensils text-primary me-2"></i>AnVatCanTho</h1>
                    <p class="mb-4">Bạn đang tìm một hương vị đích thực, dân dã, đường phố? Không cần tìm đâu xa ngoài AnVatCanTho! Chúng tôi đam mê mang đến những món ăn đường phố ngon, chất lượng cao cho cộng đồng của mình.</p>
                    <p class="mb-4">Thực đơn của chúng tôi bao gồm các món ăn độc đáo lấy cảm hứng từ truyền thống toàn cầu, được chế biến từ nguyên liệu tươi ngon và được chế biến bằng tình yêu. Cho dù bạn là một người sành ăn dày dạn hay một nhà thám hiểm tò mò, AnVatCanTho mang đến trải nghiệm sôi động và đầy hương vị sẽ kích thích vị giác của bạn và khiến bạn muốn nhiều hơn nữa.</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Hơn</p>
                                    <h6 class="text-uppercase mb-0 font-roboto">Loại thức ăn/thức uống</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">5</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Hơn</p>
                                    <h6 class="text-uppercase mb-0 font-roboto">Điểm bán đồ ăn vặt nổi tiếng</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" asp-action="Index" asp-controller="Product">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Menu Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Thực đơn</h5>
                <h1 class="mb-5 font-roboto">Những món ăn phổ biến nhất</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-1">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Món ăn</small>
                                <h6 class="mb-0 font-roboto">Phổ biến</h6>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            @foreach (var item in productVM)
                            {
                                var productImg = item.Product.ProductImages.FirstOrDefault(p => p.ProductId == item.Product.Id);
                                var imgPath = productImg is null ? "no-image.jpg" : productImg.PathName;

                                <div class="col-6 col-lg-3 mb-4 text-start">
                                    <div class="card shadow rounded-3">
                                        <img src="@Url.Content($"~/images/Products/{imgPath}")" class="card-img-top product-image-height rounded-top" alt="Hình ảnh sản phẩm">

                                        <div class="card-body border-top border-gray-300">
                                            <h3 class="fs-5 fw-bold">@item.Product.Name</h3>
                                            <a asp-action="Details" asp-controller="Shop" asp-route-id="@item.Product.SnackBarId" class="h6 fw-bold">@item.Product.SnackBar.DisplayName</a>
                                            <h5 class="h6 fw-semibold text-gray mt-2 product-truncate-text">@item.Product.Description</h5>
                                            <div>
                                                <span class="h6 mb-0 text-decoration-line-through me-2 text-gray">
                                                    @(((item.Product.UnitPrice + new Random().Next(50, 99)) * 1000).ToString("#,###")) đ
                                                </span>
                                                @* Cần xử lý giá giảm ở đây, hiện tại chỉ hiển thị tạm *@
                                                <span class="h5 mb-0 text-danger">@((item.Product.UnitPrice * 1000).ToString("#,###")) đ</span>
                                            </div>
                                            <div class="d-flex mt-3">
                                                @{
                                                    int numberOfStar = (int)item.AvgRating;
                                                }
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= numberOfStar)
                                                    {
                                                        <span class="star fas fa-star text-warning me-1"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="star fas fa-star text-gray me-1"></span>
                                                    }
                                                }

                                                <span class="badge ms-2 text-dark-gray">@(item.AvgRating > 0 ? (int)item.AvgRating : 0)</span>
                                            </div>

                                        </div>
                                        <div class="card-footer bg-gray-200 border-top border-gray-300 p-4">
                                            <div class="d-flex align-items-center">
                                                <div class="me-auto">
                                                    <button onClick="AddToCart(@item.Product.Id, false, '%2F')" class="btn product-cart-btn px-1 fs-4" id="cart_icon_@item.Product.Id" type="button" aria-label="Thêm vào giỏ hàng" title="Thêm vào giỏ hàng">
                                                        <i class="fas fa-cart-plus"></i>
                                                    </button>
                                                </div>
                                                <a class="btn btn-success rounded-3" asp-action="Details" asp-controller="Product" asp-route-id="@item.Product.Id">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
    <!-- Team Start -->
    <div class="container-xxl pt-5 pb-3">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Đối tác của chúng tôi</h5>
                <h1 class="mb-5 font-roboto">Quầy ăn vặt</h1>
            </div>
            <div class="row g-4">
                @foreach(SnackBar item in snackBars)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <img class="rounded-circle m-4" width="150" height="150" src="@Url.Content($"/images/SnackBar/{item.Avatar}")" alt="Avatar snackbar">
                            
                            <h5 class="mb-0 font-roboto">@item.DisplayName</h5>
                            <a asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">Chi tiết</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Team End -->
        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Nhận xét</h5>
                    <h1 class="mb-5 font-roboto">Nhận xét từ khách hàng!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Rất khuyến khích cho một bữa ăn nhẹ nhanh chóng và thỏa mãn.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="~/images/UserIndex/testimonial-1.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1 font-roboto">Thanh Thảo</h5>
                                <small>Khách hàng</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Chắc chắn đây là địa điểm mới của tôi để có một bữa ăn nhẹ ngon miệng và thỏa mãn.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="~/images/UserIndex/testimonial-2.jpg" style="width: 50px; height: 50px;">

                            <div class="ps-3">
                                <h5 class="mb-1 font-roboto">Trần Huy</h5>
                                <small>Khách hàng</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Các nhân viên cực kỳ thân thiện và hữu ích, và bầu không khí rất thân thiện.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="~/images/UserIndex/testimonial-3.jpg" style="width: 50px; height: 50px;">

                            <div class="ps-3">
                                <h5 class="mb-1 font-roboto">Quốc Đạt</h5>
                                <small>Khách hàng</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Tôi chắc chắn sẽ sớm quay trở lại để thưởng thức một liều thuốc ngon miệng thoải mái khác!</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="~/images/UserIndex/testimonial-4.jpg" style="width: 50px; height: 50px;">

                            <div class="ps-3">
                                <h5 class="mb-1 font-roboto">Thu Huyền</h5>
                                <small>Khách hàng</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    </div>
</div>


@section Styles {
    <link href="/css/product.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/product.js"></script>
}