@using AnVatCanTho.Models
@using AnVatCanThoWeb.ViewModels
@using System.Security.Claims
@using System.Threading

@model DetailProductVM

@{
    ProductVM productVM = Model.ProductVM;
    List<ProductVM> relatedProductVM = Model.RelatedProduct;
    List<ProductImage> productImages = Model.ProductVM.Product.ProductImages.ToList();
    var comments = Model.Comments;
    int totalOfRating = productVM.Product.Ratings.Count;
    int totalComment = ViewBag.TotalComment;

    Dictionary<string, int> reviewBullet = new Dictionary<string, int>();
    reviewBullet.Add("Rất ngon", 0);
    reviewBullet.Add("Ngon", 0);
    reviewBullet.Add("Bình thường", 0);
    reviewBullet.Add("Tệ", 0);
    reviewBullet.Add("Rất tệ", 0);


    // Chỉ xử lý cho đánh giá số sao là số nguyên
    foreach (var ratingItem in productVM.Product.Ratings)
    {
        if (ratingItem.Star == 1.0)
        {
            reviewBullet["Rất tệ"]++;
        }
        else if (ratingItem.Star == 2.0)
        {
            reviewBullet["Tệ"]++;
        }
        else if (ratingItem.Star == 3.0)
        {
            reviewBullet["Bình thường"]++;
        }
        else if (ratingItem.Star == 4.0)
        {
            reviewBullet["Ngon"]++;
        }
        else if (ratingItem.Star == 5.0)
        {
            reviewBullet["Rất ngon"]++;
        }
    }

    // Get user login
    string userId = User.Claims.Where(c => c.Type == ClaimTypes.Sid).Select(c => c.Value).SingleOrDefault();
    string userDisplayName = User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault();
    string userAvatar = User.Claims.Where(c => c.Type == ClaimTypes.UserData).Select(c => c.Value).SingleOrDefault();

    // Pagination
    int totalPage = ViewBag.TotalPage;
    string queryPage = Context.Request.Query["page"];
    string sortValue = Context.Request.Query["sort"];
    int curPage = 1;

    if (!string.IsNullOrEmpty(queryPage))
    {
        _ = int.TryParse(queryPage, out curPage);
    }
}

<main class="bg-gray">
    <div class="container py-5">
        <div class="row product-breadcrumb">
            <div class="col">
                <nav aria-label="breadcrumb align-items-center">
                    <ol class="breadcrumb breadcrumb-text-light breadcrumb-primary text-white mb-0">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card shadow border-white p-4 mt-4">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div id="carouselProduct" class="carousel slide carousel-fade rounded overflow-hidden" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            @* Lặp qua các hình ảnh của sản phẩm để hiển thị*@
                            @for (int i = 0; i < productImages.Count; i++)
                            {
                                <button type="button"
                                        data-bs-target="#carouselProduct"
                                        data-bs-slide-to="@i"
                                        class="@(i == 0 ? "active" : "")"
                                        aria-label="Slide @i">
                                </button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @* Lặp qua các hình ảnh của sản phẩm hiển thị*@
                            @{
                                int k = 0;
                            }
                            @foreach (ProductImage image in productImages)
                            {
                                <div class="carousel-item @(k == 0 ? "active" : "")">
                                    <img src="@Url.Content($"/images/Products/{image.PathName}")" class="d-block w-100 product-img-carousel" alt="Hình ảnh sản phẩm">
                                </div>
                                k++;
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 mt-3 col-lg-6 mt-lg-0">
                    <h3 class="fw-bold">@productVM.Product.Name</h3>
                    <div class="d-flex align-items-center mt-3">
                        <div class="d-flex align-items-center">
                            @{
                                int numberOfStar = (int)productVM.AvgRating;
                            }
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= numberOfStar)
                                {
                                    <span class="star fas fa-star text-warning me-1"></span>
                                }
                                else
                                {
                                    <span class="star fas fa-star text-gray me-1"></span>
                                }
                            }

                            <span class="ms-2 text-decoration-underline text-dark-gray">
                                @(productVM.AvgRating > 0 ? (int)productVM.AvgRating : 0)
                            </span>
                        </div>

                        <span class="vertical-divider"></span>

                        <p class="my-0">@productVM.Product.Ratings.Count đánh giá</p>
                    </div>



                    <p class="text-muted mt-3 product-truncate-text--4">
                        @productVM.Product.Description
                    </p>

                    <div class="mt-3">
                        <span class="fw-bold text-muted">Giá bán: </span>
                        <span class="product-text-primary h3 ms-2 fw-bold">@((productVM.Product.UnitPrice * 1000).ToString("#,###")) đ</span>
                    </div>

                    <div class="mt-3">
                        <span class="fw-bold text-muted">Địa chỉ: </span>
                        <ul class="fs-5">
                            @foreach (var address in productVM.Product.SnackBar.Addresses)
                            {
                                <li>@address.NoAndStreet, @address.WardName, @address.DistrictName</li>
                            }
                        </ul>
                    </div>

                    <div class="mt-3 d-flex align-items-center">
                        <span class="fw-bold text-muted">Số lượng: </span>
                        <input class="form-control w-25 ms-2" type="number" name="quantity" min="1" max="50" placeholder="1" value="1" />
                    </div>

                    <div class="mt-5 d-flex align-items-center gap-4">
                        <button onClick="AddToCart(@productVM.Product.Id, true, '%2FProduct%2FDetails%2F' + @productVM.Product.Id)"
                                class="btn btn-primary py-2 text-white"
                                id="cart_icon_@productVM.Product.Id"
                                type="button" aria-label="Thêm vào giỏ hàng"
                                title="Thêm vào giỏ hàng">
                            <i class="fas fa-cart-plus"></i>
                            <span>Thêm vào giỏ hàng</span>
                        </button>

                        <button 
                            type="button" 
                            class="btn btn-success py-2"
                                onClick="HandleOrderProduct(@productVM.Product.Id, '%2FProduct%2FDetails%2F' + @productVM.Product.Id)">
                            <span>Đặt ngay</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card shadow border-white p-4 mt-4">
            <h4>Có thể bạn quan tâm</h4>
            <div class="row mt-4">
                @* Sản phẩm liên quan *@
                @if (relatedProductVM.Count > 0)
                {
                    @foreach (var realatedProduct in relatedProductVM)
                    {
                        var productImg = realatedProduct.Product.ProductImages.FirstOrDefault(p => p.ProductId == realatedProduct.Product.Id);
                        var imgPath = productImg is null ? "no-image.jpg" : productImg.PathName;

                        <div class="col-6 col-lg-3 mb-4">
                            <div class="card shadow rounded-3">
                                <img src="@Url.Content($"~/images/Products/{imgPath}")" class="card-img-top product-image-height rounded-top" alt="Hình ảnh sản phẩm">

                                <div class="card-body border-top border-gray-300">
                                    <h3 class="fs-5 fw-bold">@realatedProduct.Product.Name</h3>
                                    <a asp-action="Details" asp-controller="Shop" asp-route-id="@realatedProduct.Product.SnackBarId" class="h6 fw-bold">@realatedProduct.Product.SnackBar.DisplayName</a>
                                    <h5 class="h6 fw-semibold text-gray mt-2 product-truncate-text">@realatedProduct.Product.Description</h5>
                                    <div>
                                        <span class="h6 mb-0 text-decoration-line-through me-2 text-gray">
                                            @(((realatedProduct.Product.UnitPrice + new Random().Next(50, 99)) * 1000).ToString("#,###")) đ
                                        </span>
                                        @* Cần xử lý giá giảm ở đây, hiện tại chỉ hiển thị tạm *@
                                        <span class="h5 mb-0 text-danger">@((realatedProduct.Product.UnitPrice * 1000).ToString("#,###")) đ</span>
                                    </div>
                                    <div class="d-flex mt-3">
                                        @{
                                            numberOfStar = (int)realatedProduct.AvgRating;
                                        }
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= numberOfStar)
                                            {
                                                <span class="star fas fa-star text-warning me-1"></span>
                                            }
                                            else
                                            {
                                                <span class="star fas fa-star text-gray me-1"></span>
                                            }
                                        }

                                        <span class="badge ms-2 text-dark-gray">@(realatedProduct.AvgRating > 0 ? (int)realatedProduct.AvgRating : 0)</span>
                                    </div>

                                </div>
                                <div class="card-footer bg-gray-200 border-top border-gray-300 p-4">
                                    <div class="d-flex align-items-center">
                                        <div class="me-auto">
                                            <button onClick="AddToCart(@realatedProduct.Product.Id)"
                                                    class="btn product-cart-btn px-1 fs-4"
                                                    id="cart_icon_@realatedProduct.Product.Id"
                                                    type="button" aria-label="Thêm vào giỏ hàng"
                                                    title="Thêm vào giỏ hàng">
                                                <i class="fas fa-cart-plus"></i>
                                            </button>
                                        </div>
                                        <a class="btn btn-success rounded-3" asp-action="Details" asp-controller="Product" asp-route-id="@realatedProduct.Product.Id">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-muted text-center fsborder-4 fw-4">Không có sản phẩm liên quan</p>
                }
            </div>
        </div>



        <div class="card shadow border-white p-4 mt-4" id="review-section">
            <h4>Đánh giá</h4>
            <div class="row mt-4">
                <div class="col-12 col-lg-3">
                    @* Rating *@
                    <div class="d-flex align-items-center mt-3">
                        <div class="d-flex align-items-center">
                            @{
                                numberOfStar = (int)productVM.AvgRating;
                            }
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= numberOfStar)
                                {
                                    <span class="star fas fa-star text-warning me-1"></span>
                                }
                                else
                                {
                                    <span class="star fas fa-star text-gray me-1"></span>
                                }
                            }

                            <span class="ms-2 text-decoration-underline text-dark-gray">
                                @(productVM.AvgRating > 0 ? (int)productVM.AvgRating : 0)
                            </span>
                        </div>

                        <span class="vertical-divider"></span>

                        <p class="my-0">@productVM.Product.Ratings.Count đánh giá</p>
                    </div>

                    <div>
                        @foreach (KeyValuePair<string, int> kvp in reviewBullet)
                        {
                            <div class="d-flex align-items-center mt-3">
                                <span class="review-box_label">@kvp.Key</span>
                                <span class="text-muted me-2">@kvp.Value</span>
                                <div class="progress flex-grow-1">
                                    <div class="progress-bar bg-warning"
                                         role="progressbar"
                                         style="width: @(totalOfRating > 0 ? (kvp.Value / totalOfRating) * 100 : 0)%"
                                         aria-valuenow="@(totalOfRating > 0 ? (kvp.Value / totalOfRating) * 100 : 0)"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-12 col-lg-9">
                    <div class="row my-3">
                        <span class="col-3 fw-bold text-center fs-4">@totalComment bình luận</span>
                        <div class="col-3">
                            <select class="form-select" aria-label="Sort comment" id="sortCommentSelect" data-product-id="@productVM.Product.Id">
                                <option value="desc">Sắp xếp theo</option>
                                <option selected="@(sortValue == "desc")" value="desc">Mới nhất</option>
                                <option selected="@(sortValue == "asc")" value="asc">Cũ nhất</option>

                            </select>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(userId))
                    {
                        <div class="d-flex align-items-center gap-3">
                            <img src="@Url.Content($"/images/User/{userAvatar}")" alt="avatar user" class="comment_avatar-user" />
                            <form class="flex-grow-1" id="comment-form">
                                <input name="ProductId" value="@productVM.Product.Id" hidden />
                                <input name="SnackBarId" value="@productVM.Product.SnackBarId" hidden />
                                <input name="CustomerAvatar" value="@userAvatar" hidden />
                                <input name="CustomerId" value="@userId" hidden />
                                <input name="CustomerDisplayName" value="@userDisplayName" hidden />
                                <div class="input-group">
                                    <textarea class="form-control"
                                              name="Content"
                                              aria-label="Comment for product"
                                              aria-describedby="submit-comment-btn"
                                              placeholder="Viết bình luận..."
                                              required></textarea>
                                    <button type="submit" class="btn btn-primary" id="submit-comment-btn">Bình luận</button>
                                </div>
                            </form>
                        </div>
                    }
                    <hr />
                    <div id="comment-list">
                        @if (comments.Count > 0)
                        {
                            @foreach (var comment in comments)
                            {
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <img src="~/images/User/@comment.Customer.Avatar" class="comment_avatar-user" alt="avatar user" />
                                    <div>
                                        <div class="d-flex align-items-center">
                                            <h5 class="fs-6 fw-bold mb-0 me-2">@comment.Customer.DisplayName</h5>
                                            @* Thời gian đã comment (Thêm trường createdAt cho Model Comment) *@
                                            <span class="fs-6 fw-light text-muted">@comment.CreatedAt.ToString()</span>
                                        </div>
                                        <p class="my-1">
                                            @comment.Content
                                        </p>
                                        @if (!string.IsNullOrEmpty(userId))
                                        {
                                            <button class="comment-like-btn text-dark-gray">
                                                <i class="fas fa-thumbs-up"></i>
                                                <span class="ms-1">Thích</span>
                                            </button>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-muted text-center fsborder-4 fw-4">Không có bình luận</p>
                        }
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(curPage <= 1 ? "disabled" : "")"
                                onclick="PrevPage(@totalPage)">
                                <button class="page-link" @(curPage <= 1 ? "disabled" : "")>
                                    Trang trước
                                </button>
                            </li>

                            <li class="page-item @(curPage >= totalPage ? "disabled" : "")"
                                onclick="NextPage(@totalPage)">
                                <button class="page-link" @(curPage >= totalPage ? "disabled" : "")>
                                    Trang sau
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>

@section Styles {
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true"></link>
}

@section Scripts {
    <script src="https://js.pusher.com/8.0.1/pusher.min.js"></script>
    <script src="~/js/detail-product.js"></script>
    <script src="~/js/product.js"></script>
}